
.resume_main{
    width: 80%;
    height: 50vh;
    overflow: scroll;
    box-shadow: -0.125rem 0.312rem 0.937rem 0.312rem #edededb5
  
}
.react-pdf__Page__canvas{
    width: 100% !important;
}
.react-pdf__Document{
    width: 100%; 
}
.react-pdf__Page{
    
    width: 100%;
    min-width:0% !important;
}
.buttonc{
    width: 95%;
    height: 60px;
    display: flex;
    align-items: flex-end;

}
.download_resume{
    width: 130px;
    height: 40px;
    border-radius:30px;
    border: none;
    background-color: #2394ae;
    color: white;
}