*{
    margin: 0;
    padding: 0;
    /* font-family: "Grpahik Medium"; */
}
.sidebar{
    display: flex;
}
.aside-left{
    background-color: #000000;
    color: #ffffff;
    width: 34%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside_left_logos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{

    width: 60%;
}
.logo > img{
    width: 100%;
}
.aside-left-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
  top: 100px;
}
.aside-left-nav ul{
    padding: 0 !important;
}
.aside-left-nav li{
    list-style: none;
    padding:20px 0;
}
.list{
    border: 3px solid white;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list img{
    width: 50px;
}
#icon{
    font-size: 20px;
}
.asidebottom{
    position: relative;
}
.aside-right{
    width: 67%;
    height: 100vh;
    box-sizing: border-box;
    box-shadow:5px 3px 12px #56545438;
}
.top-buttons{
    
    width: 100%;
    /* border-bottom:2px solid lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.right-nav {
    display: block;
    width: 100%;
    height: 40%;
    
}
.asideright_hr{
   margin: 15px 0;
}
.right-nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    
}
.right-nav li{  
    width: 90%;
    height: 40px; 
    list-style: none;
}
.right-nav a{
    text-decoration: none;
    color: #929292;
    font-family: "Grpahik Medium";
    font-size: var(--f-20);
    
}
.right-nav a:hover{
    color: #2394ae;
}
.compnay_name{
font-size: 1.25rem;
border: none;
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: 700;
width: 85%;
outline: none;
}
.createnew{   
    width: 80%;
    padding: 0.625rem 0;
    border-radius: 2rem;
    border: none;
    background-color: #bf161f;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.upload{
    width: 80%;
    padding: 0.625rem 0;
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #2394ae;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.campaigns {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-weight: bold; */
}
.list_logo_icon{
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_logo_icon img{
    height: 60%;
    width: 60%;
} 

.list_name{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.list_name p{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 8px;
    color: gray;
}

.down_arrow_icon{
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.campaign_list{
    width: 100%;
    display: flex;
    align-items: center;
}
.campaign_list_ul{
    width: 70% !important;
}
.campaign_list li{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
    width: 65%;
    font-size: 15px;
}
.campaign_list a{
    font-size: 18px;
    color: #2394ae;
}
.campaign_list a :hover{
    color: #2394ae;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.task-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #929292;
    font-size: var(--f-20);
    font-family: "Grpahik Medium";
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
/* Media Query */
@media  (max-width: 1440px) {

    /* Aside left */
    .logo{
        bottom: 5px;
        width: 50%;
    }
    .aside-left-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        position: relative;
        top: 40px;
      }
    .list img{
        width: 40px;
    }
    .asidebottom img{
        height: auto;
    }

    /* ==========Aside Right====== */
    .list_name p{
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        padding-left: 8px;
        color: gray;
    }

    .createnew{
        /* margin-top:0.625rem; */
        /* padding: 1rem 3rem; */
        width: 85%;
        /* padding: 10px; */
        border-radius: 2rem;
        border: none;
        background-color: #bf161f;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
    .campaign_list a{
        font-size: 15px;
        color: #2394ae;
    }
    .campaign_list_ul{
        width: 75% !important;
        }

    .upload{
        width: 85%;
        margin-top: 1rem;
        border-radius: 2rem;
        border: none;
        background-color: #2394ae;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
    .compnay_name{
        font-size: 0.9rem;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        width: 80%;
        outline: none;
        }
        .campaigns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
        }

  
  }
  @media  (max-width: 1024px){

        /* Aside left */
        .logo{
            bottom: 5px;
            width: 50%;
        }
        .aside-left-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            position: relative;
            top: 40px;
          }
        .list img{
            width: 30px;
        }
        .asidebottom img{
            height: auto;
        }
    
        /* ==========Aside Right====== */
        .list_name p{
            font-size: 12px;
            font-weight: 700;
            margin: 0;
            padding-left: 8px;
            color: gray;
        }
    .createnew{
        /* margin-top:0.625rem; */
        /* padding: 1rem 3rem; */
        width: 85%;
        /* padding: 10px; */
        border-radius: 2rem;
        border: none;
        background-color: #bf161f;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
    }
    .upload{
        width: 85%;
        margin-top: 1rem;
        border-radius: 2rem;
        border: none;
        background-color: #2394ae;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
    }
    .compnay_name{
        font-size: 0.7rem;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        width: 80%;
        outline: none;
        }
        .task-inbox-tabs{
            width: 100%;
            height: 30%;
        }
           .compnay_name{
            font-size: 0.65rem;
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 700;
            width: 80%;
            outline: none;
            }
            .campaign_list_ul{
                width: 90% !important;
            }
            .campaign_list a{
                font-size: 15px;
                color: #2394ae;
            }
  }