*{
    margin: 0;
    padding: 0;
    /* font-family: "Grpahik Medium"; */
}
.sidebar{
    display: flex;
}
.aside-left{
    background-color: #000000;
    color: #ffffff;
    width: 34%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-left-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.aside-left-nav li{
    list-style: none;
    padding:20px 0;
}
.list{
    border: 3px solid white;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    font-size: 20px;
}
.asidebottom{
    position: relative;
    top: 11%;
}
.aside-right{
    width: 67%;
    height: 100vh;
    box-sizing: border-box;
    box-shadow:5px 3px 12px #56545438;
}
.top-buttons{
    height: 25%;
    width: 100%;
    border-bottom:2px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* .right-nav{
    height: 35%;
    width: 100%;
    border-bottom:2px solid lightgray; 

} */

.right-nav {
    display: block;
    width: 100%;
    border-top: 2px solid #dcdfe4;
    min-height: var(--rightNav-height);
    border-bottom: 2px solid #dcdfe4;
    height: var(--rightNav-height);
    padding: 20px;
    --rightNav-height: 35vh;
}
.right-nav li a{
    
    text-decoration: none;
    color: #929292;
    font-family: "Grpahik Medium";
    font-size: var(--f-20);
    transition: all 0.5s ease-in-out
}
.compnay_name{
font-size: 1.25rem;
border: none;
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: 700;
width: 60%;
outline: none;
}
.createnew{
    /* margin-top:0.625rem; */
    /* padding: 1rem 3rem; */
    width: 80%;
    padding: 1rem 0;
    /* padding: 10px; */
    border-radius: 2rem;
    border: none;
    background-color: #bf161f;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.upload{
    width: 80%;
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #2394ae;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.campaigns {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; */
    font-weight: bold;
}

.wid{
    width: 90%;
    text-align: left;
    padding: 12px;
}
.dn_arrow{
    width: 10%;
}
.campaign{
    /* display: flex; */
    justify-content: space-between;
    /* justify-content: space-between; */
    padding: 12px 12px;
    gap: 12px;
}
.campaign p{
    font-size: 1.25rem;

    /* font-size: 1.25rem;
    color: #938e8e;
    font-weight: 700;
    font-weight: 700; */

    text-decoration: none;
    color: #929292;
    font-family: "Grpahik Medium";
    font-size: var(--f-20);
    transition: all 0.5s ease-in-out;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.task-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #929292;
    font-size: var(--f-20);
    font-family: "Grpahik Medium";
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
/* Media Query */
@media  (max-width: 1440px) {
    .createnew{
        /* margin-top:0.625rem; */
        /* padding: 1rem 3rem; */
        width: 65%;
        padding: 1rem 0;
        /* padding: 10px; */
        border-radius: 2rem;
        border: none;
        background-color: #bf161f;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
    .upload{
        width: 65%;
        padding: 1rem 0;
        margin-top: 1rem;
        border-radius: 2rem;
        border: none;
        background-color: #2394ae;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
    .compnay_name{
        font-size: 1rem;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        width: 70%;
        outline: none;
        }
        .campaigns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
        }
  }
  @media  (max-width: 1024px){
    .createnew{
        /* margin-top:0.625rem; */
        /* padding: 1rem 3rem; */
        width: 65%;
        padding: 1rem 0;
        /* padding: 10px; */
        border-radius: 2rem;
        border: none;
        background-color: #bf161f;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
    }
    .upload{
        width: 65%;
        padding: 1rem 0;
        margin-top: 1rem;
        border-radius: 2rem;
        border: none;
        background-color: #2394ae;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
    }
    .compnay_name{
        font-size: 0.7rem;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
        width: 80%;
        outline: none;
        }
  }