.workspace_agenda_main_workspace_agendas_wrepper{
    display: flex;
    width: 100%;
    height: 100vh;
}
.workspace_agendas_wrepper {
    width: 70%;
}
.workspace_agendas_wrepper h3{
    font-family: "Graphik_Bold";
}
.workspace_agenda_header{
    /* border: 1px solid blue; */
    width: 100%;
    margin-bottom: 30px;
}
.agendas{
    display: flex;
}
.agendas a{
    text-decoration: none;
    color: black;
}
.agenda_view_section ::-webkit-scrollbar{
    display: none;
}

.agenda_date_time{
    border-top:1px solid #2394ae ;
    border-bottom:1px solid #2394ae ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agenda_date_time span{
    font-size: 0.812rem;
    font-family: "Graphik_Regular";
} 
.agenda_items ol{
    font-size: 0.687rem;
    font-family: "Graphik_Regular";
}
.agenda_items p{
    margin: 0;
    font-family: "Graphik_Regular";
}
.new_agendas{
    width: 18.75rem;
    height: 25rem;
    margin: 0.625rem;
    border: 2px solid #2394ae;
    border-radius: 0.5rem;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agendas_plus{
    font-size: 4.687rem;
    color: #2394ae;
}
.agendacall_section {
    width: 30%;
}
.agendacall_section_cmnt{
    height: 60vh;
}
.agendacall_section_vc{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agendacall_section_chat{
    height: 10vh;
}
.calling_Section {
    width: 300px;
    height: 80px;
    margin-top: 30px;
    display: flex;
    z-index: 0;
  }
  
  .call_img1 {
    width: 50%;
    height: 100%;
  }
  
  .call_img1 img {
    width: 100%;
    height: 100%;
  }
  
  .call_img2 {
    width: 50%;
    height: 100%;
  }
  
  .call_img2 img {
    width: 100%;
    height: 100%;
  }