.createWorkspaces-wepper{
    padding-top: var(--maintop-nav-height) !important;
    --maintop-nav-height:150px;
    margin-left: 20% !important;
}
.createworkspaces{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-workspaces-Form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    /* border: 1px solid black; */
}
.create-worksplace-Form h1{
    padding-bottom:25px;
}
.create-worksplace-Form label{
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 700;
}

.create-workspaces-picture{
    width: 60%;
    /* border: 1px solid black; */
}
::placeholder{
    font-size: 15px;
    font-weight: 100;
}
.buttons{
    width: 100%; 
}
.Next-btn{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: #bf161f;
    color: aliceblue;
    margin-right: 15px;
    font-size: 17px;
}
.Skip-btn{
    font-size: 17px;
    color: gray;
    border: none;
    background-color: white;
}
