.workspace_poll{
    width: 100%;
    margin-left: 23%;
    display: flex;
}
.wrkspc_pl_ch{
    width: 50%;
}

.wrkspc_pl_ch button{
    border-radius: 50px;
    color: white;
    width: 50%;
    padding: 10px;
    background-color: #f5a41d;
}
.poll_btn_pr{
    width: 20%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.poll_btn_pr p {
    margin: 0 !important;
    color: red;
    font-weight: 700;
    cursor: pointer;
}
.wrkspc_pl_ch h2{
    font-weight: 700;
    margin-top: 10px;
}
.poll_vote_p{
    color: darkgoldenrod;
    font-weight: 700;
    cursor: pointer;
}
.voted{
    color:#2d99b2;
    font-weight: 700;
    cursor: pointer;
}
.poll_option{
    width:150px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poll_option p {
    font-size: 20px;
    margin-top: 10px;
    
}
.poll_que{
    margin-top: 30px;
}
.poll_pr{
    display: flex;
    margin-top: 10px;
}
.poll_que h4{
    font-weight: 700;
}
.poll_que .MuiSvgIcon-fontSizeMedium{
    display: none;
}
.poll_que .MuiAccordionSummary-root{
    padding: 0;
}
.poll_que .MuiAccordionSummary-content{
    margin: 0;
    display: flex;
    align-items: center;
}
.poll_bar{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
.fr_pollbar_clr{
    height: 50px;
    background-color: #cf212f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}
.sec_pollbar_clr{
    height: 50px;
    background-color: #f5a41d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;

}
.thi_pollbar_clr{
    height: 50px;
    background-color: #2394ae;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;

}
.vote_btn{
    background-color: #2394ae !important;
    width:100px !important;
}
