
.workspace_header_container{
    /* margin-left:23% ; */
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */

}
.workspace_title{
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_title{
    font-family: "Graphik_Bold";
}
.header_logo{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
}

.header_logo img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.workspace_users{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user1{
    height: 70%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.user1 p{
    margin: 0;
    font-family: "Graphik_Light"; 
}
.inneruser1{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 50%; 
}
.inneruser1 img{
    width: 100%;
    height: 100%;
}
.inneruser5{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: #dcdfe4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invite_frnds{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invite_frnd_srchbar{
    border: 1px solid black;
    border-radius: 25px !important;
    height: 25px !important;
    width: 250px !important;
    padding: 15px !important;
}
.invite_frnds h5{
    color: black;
    padding: 15px;
}
.invite_frnd_srchbar .MuiSvgIcon-fontSizeMedium {
    border: 1px solid black;
    border-radius: 50%;
    background-color: #bf161f;
    color: white;
    text-align: right;
    position: relative;
    left: 30px;
}
 .MuiPopover-paper{
 width: 50vw;
 border-radius: 25px !important;
}
.hjk{
    border: 4px solid green;
}
.header_dialg_bx{
 width: 100%;
 height: 50vh;
 display: flex;
 flex-wrap: wrap;
 overflow: scroll;

}
.invite_radio_btn{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
.invite_radio_btn_ch{
    width:50%;
    display: flex;
}
.invite_radio_btn_ch .MuiSvgIcon-root{
    color: red !important;
}
.wrkspc_invite_btn{
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrkspc_invite_btn button{
    margin-right: 2rem;
    border: none;
    background: none;
    outline: none;
    border-radius: 25px;
    /* background-color: #2294ae; */
    padding:5px 10px ;
}
.invite_radio_btn_grp{
    width: 40vw;
    border: 2px solid red;
    display: flex;
}
.workspace_user_buttons{
    width: 30%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.leave_call{
    margin: 10px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #bf161f;
    color: white;
    border: none;
    font-family: "Graphik_Regular";
    font-size: 15px;
}
.send_review_link{
    margin: 10px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    font-family: "Graphik_Regular";
    font-size: 15px;
}
@media (max-width:1440px){
    .header_logo{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
        border-radius: 5px;
    }
    .leave_call{
        margin: 10px;
        /* padding: 10px 40px; */
        border-radius: 30px;
        background-color: #bf161f;
        color: white;
        border: none;
        font-family: "Graphik_Regular";
        font-size: 12px;
        width: 60%;
        height: 50px;
    }
    .send_review_link{
        margin: 10px;
        border-radius: 30px;
        background-color: black;
        color: white;
        border: none;
        font-family: "Graphik_Regular";
        font-size: 12px;
        width: 100%;
    }
}

@media (max-width:1024px){
    .workspace_user_buttons{
        width: 50%;
        height: 100%;
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leave_call{
        margin: 10px;
        /* padding: 10px 40px; */
        border-radius: 30px;
        background-color: #bf161f;
        color: white;
        border: none;
        font-family: "Graphik_Regular";
        font-size: 10px;
        width: 60%;
        height: 50px;
    }
    .send_review_link{
        margin: 10px;
        padding: 10px 40px;
        border-radius: 30px;
        background-color: black;
        color: white;
        border: none;
        font-family: "Graphik_Regular";
        font-size: 8px;
        width: 60%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .workspace_users{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .user1{
        height: 35px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}