.workplaces-container .main-top-nav {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0;
    background: transparent;
    z-index: 99;
    background-color: #fff;
}
.d-flexs {
    display: flex!important;
}
.ws-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.ws-header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
img, svg {
    vertical-align: middle;
}
.ws-header p.username {
    font-size: 20px;
}

.username {
    font-size: var(--f-28);
    color: #000000;
}
p {
    margin: 0;
    padding: 0;
}
.ws-img1 {
    display: flex;
}
.ws-img-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
}
img, svg {
    vertical-align: middle;
}
.ws-img-txt span {
    font-size: 8px;
    line-height: 22px;
}
.mic-div {
    position: relative;
}
.ws-img-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
}
.mic-div img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #2394ae;
}
span.mic {
    position: absolute;
    top: 35px;
    right: 0px;
    background: #2394ae;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic i {
    font-size: 12px;
    color: #fff;
}
.pl-30 {
    padding-left: 30px;
}

.inner-cont-pt {
    padding-top: var(--maintop-nav-height) !important;
    --maintop-nav-height: 300px;
    display: block;
    width: calc(100% - var(--aside-width));
    margin-left: var(--aside-width);
    padding: 30px 100px 30px 50px;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    --aside-width: 380px;
}
.ws-img-txt img {
    max-width: 60px;
}
.ws-header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sm-btn {
    padding: 5px 25px;
    height: 45px;
    font-size: 16px;
    margin-left: 10px;
}
.ws-header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sm-btn {
    padding: 5px 25px;
    height: 45px;
    font-size: 16px;
    margin-left: 10px;
}
.btn-red {
    background-color: #bf161f;
    border: 1px solid #bf161f;
}
.btn-qa {
    font-size: var(--f-20);
    font-family: "Grpahik Medium";
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #000;
    outline: none;
    transition: all 0.5s ease-in-out;
}
.btn-black.sm-btn {
    background: #000;
}
.rightTxt {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.rightTxt a {
    color: #000;
    font-size: 20px;
    margin: 10px;
    font-family: "Grpahik Regular";
    display: flex;
    align-items: center;
}
a, a:hover {
    text-decoration: none;
}
.rightTxt i {
    font-size: 14px;
    padding-right: 10px;
}