.businessInfoMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}
.formsBusiness{
    display: block;
    width: 80%;
    margin: 0 auto;
}