.workspaceupload_main_header{
    display: flex;
}
.workspacesdata_upload{
    width: 72%;
    margin-left: 23%;
    /* border: 1px solid green; */
}
.workspaceuplod_header{
    width: 100%;
    /* border: 1px solid blue; */
}
.Upload_wepper {
    margin-top: 3%;
    width: 100%;
    /* margin-left: 23%; */
    /* border: 1px solid red; */
}

.workpace_upload_header button {
    padding: 8px 30px;
    border-radius: 30px;
    background-color: #cf212f;
    color: white;
    border: none;
    margin-bottom: 10px;
    font-family: "Graphik_Regular";
}

.workpace_upload_header h2 {
    font-weight: bold;
    font-family: "Graphik_Bold";
}

.upload_files_Section {
    width: 95%;
    height: 300px;
    border-style: dashed;
    border-color: #2394ae;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.upload_files_Section p{
    color: gray;
    font-family: "Graphik_Light"; 
}
.filter_component{
    width: 100%;
    margin-top: 15px;
  
}
.upload_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.562rem 3.75rem;
    height: 1.875rem;
    font-size: 1.25rem;
    border-radius: 1.875rem;
    background-color:#2394ae;
    color: white;
    border: none;
    font-family: "Graphik_Regular";
}
.uoload_search{
    width: 70%;
    display: flex;
    position: absolute;
    border-radius: 30px;
    /* padding: 5px; */
    background-color:#f6f6f6;
    margin-top: 15px;
}
.uoload_search input{
    width:100%;
    border: none;
    border-radius: 30px;
    background-color: #f6f6f6;
    
    
}
.upload_search_button{
    height: 28px;
    width: 28px;
    background-color: #2394ae;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    position: relative;
    right: 0;
    /* padding: 5px; */
}