.video_playet_pr {
    border-radius: 25px;
    width: 24vw;
    height: 40vh;
    border: 3px solid #368da0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.video_playet {
    border-radius: 25px;
    width: 100%;
    height: 100%;

}