.srch_camp_pr {
    width: 60%;
    margin-left: 23%;
}

.srch_camp_hdr {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srch_inpt .MuiPaper-root {
    border-radius: 1.562rem;
}

.srch_inpt .MuiButtonBase-root {
    background-color: #2294ae;
}

.srch_inpt .MuiButtonBase-root:hover {
    background-color: #2294ae;
}

/* DropDown Header */
.srch_drpdn {
    width: 60%;
    margin-left: 23%;
    /* border-bottom: 2px solid #f6f6f6; */
    box-shadow: 0.125rem 0.125rem 0.312rem #f6f6f6;
}

.sech_drpdn_ch {
    width: 60%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.srch_drpdn .MuiInputBase-root {
    border: none !important;
}

.srch_drpdn .MuiNativeSelect-select {
    padding: 0.625rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

._srch_prdct_pr {
    margin-top: 2rem;
    margin-left: 23%;
    width: 60%;
    /* border: 2px solid blue; */
    border-bottom: 0.0625rem solid black;

}

._srch_prdct_details {
    width: 100%;
    height: 15.625rem;
    margin: 1.875rem 0;
    display: flex;
}

._srch_add_descrptn {
    width: 50%;
    display: flex;
    margin: 1.875 0;
    border-right: 0.125rem solid #f6f6f6;
}

._srch_prdct_img_pr {
    width: 55%;
    box-sizing: border-box;
}

._srch_prdct_img {
    width: 100%;
    height: 100%;
}

.img_descrptn {
    width: 45%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img_descrptn h6,
h5 {
    color: #2294ae;
}

.dscrptn_para {
    margin: 0 !important;
}

.dscrptn_para span {
    font-size: 1.2rem;
    font-weight: bold;
}

.srched_lttr {
    color: #8fb7c2;
}

.srched_ad_type {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.srched_ad_type p {
    margin: 0 !important;
    color: red;
    font-size: 0.875rem;
    font-weight: 500;
}

.srched_ad_type span {
    color: grey;
    font-size: 0.75rem;
}

.add_dscrptn {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* type of add */
.typ_of_add {
    width: 50%;
    margin: 1.25rem 0;
    padding: 0.625rem 1.25rem;
}

.srch_prdct_social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prdct_scal {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advtsng_head {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: .125rem solid #f6f6f6;
    padding: 0.625rem 0;
}

.advtsng_head p {
    margin: 0 !important;
    font-size: 0.937rem;

}

.advtsng_head h6 {
    color: #2294ae;
    margin: 0 !important;
    font-size: 0.937rem;
}

.ad_lctn_gndr {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.125rem 0;

}

.ad_lctn_gndr h6 {
    color: #2294ae;
    margin: 0 !important;
    font-size: 0.937rem;

}

.ad_lctn_gndr p {
    margin: 0 !important;
    font-size: 0.937rem;

}

.rd_more {
    display: flex;
    justify-content: flex-end;

}

.rd_more h6 {
    margin: 0 !important;
    border-bottom: 0.125rem solid #2294ae;
    color: #2294ae;
}

.rd_more h6:hover {
    color: #8fb7c2;
    border-bottom: 0.125rem solid #8fb7c2;
}

.srchd_btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.srchd_btns .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border-radius: 1.562rem !important;
}

.srched_edt_btn {
    background-color: #2294ae !important;
    color: white !important;
    width: 9.375rem;
}

.srched_dlt_btn {
    border: 0.0625rem solid red !important;
    color: red !important;
    width: 9.375rem;

}

.srched_archv_btn {
    border: 0.0625rem solid grey !important;
    color: black !important;
    width: 9.375rem;
}

/* ----------------Campaign_Ad---------------- */
.campaignAd_ad_srchd {
    width: 30%;
}

.campaignAd_edt_btn {
    width: 100%;
    background-color: #2394ae !important;
    color: white !important;
}

.campaignAd_edt_btn_dlt_btn {
    width: 100%;
    border: 0.125rem solid red !important;
    color: red !important;
}

.campaignAd_edt_btn_archv_btn {
    width: 100%;
    border: 0.125rem solid lightgrey !important;
    color: black !important;
}

.campaign_ad_content {
    width: 100%;
    height: 31rem;
    display: flex;
    margin-top: 2rem;
}

.cmpgn_ad_img {
    width: 70%;
    height: 39rem;
    border-right: 0.125rem solid lightgrey;
    overflow: hidden
}

.__ad_img {
    width: 100%;
    padding: 0 1rem;
}

.__ad_img img {
    width: 100%;
    height: 100%;
}

.__ad_dscrptn {
    width: 100%;
    margin-top: 2rem;
}

.__ad_dscrptn_ch {
    padding: 0 1rem;
}

.__ad_dscrptn_ch h6 {
    color: lightgrey;
}

.recent_campaign_pr {
    width: 30%;
}

.recent_campaign_pr h3 {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__recnt_cmpgn_cmpnt_pr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    overflow: auto;

}

.__recnt_cmpgn_cmpnt {
    width: 95%;
    border-radius: 0.937rem;
    margin-top: 1rem;
    padding: 0.8rem;
    box-shadow: 0.125rem 0.125rem 0.312rem grey;
    border: 0.125rem solid white;

}

.__recnt_cmpgn_cmpnt:hover {
    border: 0.125rem solid #2294ae;
}

._ad_strategy {
    color: red;
    font-weight: 700;
    font-size: 0.625rem;
}

.__recnt_cmpgn_cmpnt p {
    margin: 0 !important;
}

.__recnt_cmpgn_cmpnt h4 {
    font-weight: bold;
}

.CampaignAd_camp_pr {
    width: 77%;
    margin-left: 23%;
}

/* =========================DialogBox================ */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: none !important;
    max-height: none !important;
    width: 25%;
    border-radius: 0.937rem !important;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

._popup_del_image {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._popup_del_image h4 {
    font-weight: 900;
}

.del_title {
    font-weight: 700 !important;
    color: black;
}

.pop_ad_arch_img {
    height: 75%;
    width: 75%;
    padding: 0.937rem;
}

.pop_ad_del_img {
    height: 100%;
    width: 100%;
}

.add_del_content {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
}
.add_del_content p {
    margin: 0 !important;
}
.css-ypiqx9-MuiDialogContent-root {
    -webkit-flex: none !important;
}
.dlr_popup_cntnueto_dlt {
    width: 90%;
    text-align: center;
}
._dlt_pop_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.del_pop_continue {
    width: 80% !important;
    background-color: red !important;
    color: white !important;
    border-radius: 1.562rem !important;
    margin: 0.5rem !important;
    padding: 0.7rem 0 !important;
}
.del_pop_continue:hover {
    background-color: lightcoral !important;
}
.del_pop_cancel {
    width: 80% !important;
    color: black !important;
    margin: 0.5rem !important;
    border-radius: 1.562rem !important;
    border: 0.0625rem solid lightgrey !important;
    padding: 0.7rem 0 !important;
}
.del_pop_cancel:hover {
    background-color: #2294aea5 !important;
}
.Archive_pop_continue {
    width: 80% !important;
    background-color: #2394ae !important;
    color: white !important;
    border-radius: 1.562rem !important;
    margin: 0.5rem !important;
    padding: 0.7rem 0 !important;
}
.ad_create_workspace {
    width: 30%;
    margin: 0 1rem;
    border-radius: 1.562rem;
    padding: 0.125rem 0;
    background-color: #2294ae;
    color: white;
    border: none;
    outline: none;
}