/* main Component */
.main_container{
    width: 20%;
}
.abc{
    border: 5px solid blue;
}
.content{
    height: 100%;
    color: black;
    width:75%;
    margin-left: 23%;
}

.date_comp{
    width: 50%;
    display: flex;
    align-items: center;
}
.date_filter_main_menu{
    width: 27rem !important;
}
.datpick{
    width: 23rem;
}
.date_input_fields{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #dbd2d2;
    border-radius: 5px;
}
.date_input_fields>::-webkit-input-placeholder{
    font-size: 15px !important;
}
.dasshed__{
    font-size: 25px;
}
.cal_icon{
    color: #f5a41d;
    text-align: center;
    align-items: center;
    margin: 5px !important;
}
.date_input{
    /* width: 22.5rem; */
    width: 170px;
    border: none !important;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    outline: none;

    text-align: center;
}

.rsd__select-container-month > label{
    display: none;
}
.rsd__select-container-day > label{
    display: none;
}
.rsd__select-container-year > label{
    display: none;
}
.start_end_date{
    font-weight: 600;
    margin: 10px 0;
    padding: 5px;
    color: black;
}
.rsd__select-month{
    font-size: 15px !important;
}
.rsd__select-day{
    font-size: 15px !important;
}
.rsd__select-year{
    font-size: 15px !important;
}
.rsd__select-month{
    border: none !important;
    border-bottom: 1px solid grey !important;
    margin: 0 10px;
    font-size: 18px;
    color: grey;
    outline: none !important;
}
.rsd__select-day{
    border: none !important;
    border-bottom: 1px solid grey !important;
    margin: 0 10px;
    font-size: 18px;
    color: grey;
}

.rsd__select-year{
    border: none !important;
    border-bottom: 1px solid grey !important;
    margin: 0 10px;
    font-size: 18px;
    color: grey; 
}
.bio-box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* display: flex; */
    position: relative;
    
}

.search{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
   

}
.search .MuiPaper-elevation {
    border-radius: 25px;
    width: 10%;
    height: 20px;
}
.search input{
    width: 50%;
    border-radius:30px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    height: 45px;
    box-shadow: 2px 2px 5px grey ;
    padding: 10px;
}
.search  ::-webkit-input-placeholder{
    font-size: 18px;
}
.search-button{
    right: 0.5%;
    width: 35px;
    height: 35px;
    background-color: #2394ae;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-buttons{
    /* background-color: #2394ae; */
    padding: 13px;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.search-button:hover{
    background-color: #bf161f;
    transition-duration: 1s;
}
::placeholder{
    font-size: 1.25rem;
    font-weight: 600;
}
.calander{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-user li{
    list-style: none;
    /* padding: 10px; */
}
.main-top-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end!important;
}
.align-items-center {
    align-items: center!important;
}
.filter-date{
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    max-width: 380px;
    width: 100%;
    position: relative;
}
/* .campaign-wraper{
    border-radius: 160px;
    box-shadow: 0 0 4px rgb(0 0 0 / 16%);
    padding-bottom: 10px
} */
.wraper-filter {
    display: flex;
    align-items: center;
    margin-top: 40px;
    /* display: flex;
    position: relative; */


}
.campaign-table {
    padding-top: 10px;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
        caption-side: bottom;
        border-collapse: collapse;
    
}
.campaign-table table thead th {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    font-family: "Grpahik Semibold";
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
    vertical-align: middle;
    border: none;
    padding: 20px;
    
}
.campaign-top .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.campaign-top .search-wraper {
    max-width: 360px;
    background: #f6f6f6;
    width: 100%;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    transition: all 0.25s ease-in;
}
.campaign-top .search-wraper input {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-family: "Grpahik Regular";
}
.campaign-top .search-wraper .btn-search {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #2394ae;
    top: 3px;
    right: 3px;
    border-radius: 50%;
}
.campaign-top .search-wraper .btn-search, .campaign-top .search-wraper .btn-del {
    position: absolute;
    border: none;
    outline: none;
}
.campaign-wraper .campaign-top {
    padding: 40px 40px 0px;
}
.campaign-wraper {
    border-radius: 16px;
    box-shadow: 0 0 4px rgb(0 0 0 / 16%);
    padding-bottom: 10px;
}
.tab-content>.active {
    display: block;
}
.campaign-table {
    padding-top: 10px;
}
.table>tbody {
    vertical-align: inherit;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.campaign-table table tbody tr {
    border-bottom: 1px solid #dbdbdb;
}
.campaign-table table tbody td:first-child {

    padding-left: 40px;
    max-width: 270px;
}
.campaign-table table tbody td {
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 25px;
}
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.campaign-table table tbody td:first-child p {
    font-family: "Grpahik Light";
}
.campaign-table table tbody td p {
    font-size: 12px;
    font-family: "Grpahik Regular";
    color: #929292;
}
p {
    margin: 0;
    padding: 0;
}
.campaign-table table tbody td:nth-child(3) {
    width: 360px;
    padding-right: 40px;
}
.campaign-table table tbody td h4.status.pending {
    color: #f5a41d;
}
.campaign-table table tbody td h4.status {
    text-decoration: underline;
}
.campaign-table table tbody td h4.status.active {
    color: #2394ae;
}
.campaign-table table tbody td h4.status {
    text-decoration: underline;
}
.campaign-table table tbody td h4.status.completed {
    color: #649084;
}
.campaign-table table tbody td h4.status {
    text-decoration: underline;
}
.campaign-table table .progress {
    height: 20px;
    border-radius: 16px;
}
.campaign-table table .progress.active .progress-bar {
    background-color: #b17aa3;
    width:40%
}


.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.campaign-table table .progress.completed .progress-bar {
    background-color: #649084;
}
.select{
        display: flex;
        position: relative;
}
.Pagination{
        justify-content: flex-end!important;
        display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 3rem!important;
    }
    .paginationBttns {
        list-style: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        gap: 0.5rem;
        color: #929292;
    }

    .previousBttn {
        color: #929292;
    }
    .nextBttn {
        color: #000;
    }
    .paginationBttns{
        border: none;
        background: none;
        color: #929292;
        box-shadow: none;
    }



    /* Ujj */
    .campaign-top .wraper-filter h4 {
        font-size: 20px;
        color: #929292;
        margin-right: 20px;
        font-family: "Grpahik Light";
        margin-bottom: 0;
    }

    .campaign-top .filter-date {
        padding: 12px 18px;
        border: 1px solid #dbdbdb;
        border-radius: 8px;
        max-width: 380px;
        width: 100%;
        position: relative;
    }
    .campaign-top .filter-date button {
        border: none;
        outline: none;
        background: none;
        font-size: 20px;
        font-family: "Grpahik Light";
        color: #929292;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .campaign-table table thead th:first-child {
        padding-left: 40px;
        position: relative;
    }
    /* .main-top-nav > ul li {
        margin-left: 30px;
        position: relative;
    } */
    .main-top-nav > ul li {
        margin-left: 30px;
    }
    img, svg {
        vertical-align: middle;
    }
    body {
        font-size: var(--f-16);
        font-family: "Grpahik Medium";
        color: #000000;
    }
    .notification-icon {
        position: relative;
    }
    .notification-count {
        position: absolute;
        top: 5px;
        left: 15px;
        background-color: #bf161f;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        line-height: 25px;
        border-radius: 30px;
        font-size: var(--f-12);
    }
   /* Media Query */
   @media (max-width:1755px){
    .search input{
        width: 45%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search  ::-webkit-input-placeholder{
        font-size: 15px;
    }
   }
   @media (max-width:1700px){
    .search input{
        width: 40%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search  ::-webkit-input-placeholder{
        font-size: 12px;
    }
   }
   @media (max-width:1632px){
    .search input{
        width: 40%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search  ::-webkit-input-placeholder{
        font-size: 12px;
    }
   }
   @media (max-width:1610px){
    .search input{
        width: 44%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search  ::-webkit-input-placeholder{
        font-size: 12px;
    }
   }
   @media (max-width:1452px){
    .search input{
        width: 50%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search  ::-webkit-input-placeholder{
        font-size: 12px;
    }
   }
   @media (max-width:1100px){
    .search input{
        width: 100%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
        
    }
    .search  ::-webkit-input-placeholder{
        font-size: 10px;
    }
   }
   @media (max-width:1440px){
    .search input{
        width: 60%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }

    .date_comp h4{
        font-size: 18px; 
    }
    .date_input_fields{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #dbd2d2;
        border-radius: 15px;
    }
    .date_input{
        /* width: 22.5rem; */
        width: 150px;
        border: none !important;
        border-radius: 5px;
        height: 30px;
        outline: none;
        margin: 0 5px !important;
        text-align: center;
    }
    .date_input_fields >::-webkit-input-placeholder{
        font-size: 15px !important ;
    }
    .cal_icon{
        color: #f5a41d;
        text-align: center;
        align-items: center;
        margin: 5px !important;
        font-size: 18px !important;
    }
   }
   @media (max-width:1024px){
    .search input{
        width: 60%;
        border-radius:30px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        height: 45px;
        box-shadow: 2px 2px 5px grey ;
        padding: 10px;
    }
    .search >::-webkit-input-placeholder{
        font-size: 10px ;
    }
    .cal_icon{
        color: #f5a41d;
        text-align: center;
        align-items: center;
        margin: 5px !important;
        font-size: 18px !important;
    }
    .date_comp{
        width: 60%;
        display: flex;
        align-items: center;
    }
    .date_comp h4{
        font-size: 13px; 
    }
   }