
  @font-face {
    font-family: "Graphik_Black";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-BLACK.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Italic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-BLACKITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Bold";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-BOLD.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Extralight";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-EXTRALIGHT.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Extralightitalic";   /*Can be any text*/
    src: local("Graphik_Extralightitalic"),
      url("./Fonts/GRAPHIK-EXTRALIGHTITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Light";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-LIGHT.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Lightitalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-LIGHTITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Medium";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-MEDIUM.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Mediumitalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-MEDIUMITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Regular";   /*Can be any text*/
    src: local("Regular"),
      url("./Fonts/GRAPHIK-REGULAR.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Regularitalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-BLACK.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Semibold";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-SEMIBOLD.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Semibolditalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-SEMIBOLDITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Super";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-SUPER.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Superitalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-SUPERITALIC.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Thin";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-THIN.TTF") format("truetype");
  }
  @font-face {
    font-family: "Graphik_Thinitalic";   /*Can be any text*/
    src: local("Graphik"),
      url("./Fonts/GRAPHIK-THINITALIC.TTF") format("truetype");
  }
 
  


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.campaign-table table tbody td h4 {
  font-size: 20px;
  color: #000;
  font-family: "Grpahik Regular";
  margin-bottom: 0;
  max-width: 265px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.lists{
  padding-left: 5px;
  font-size: var(--f-16);
    color: #2394ae;
    justify-content: end;
    padding-right: 30px;
    text-align: right;
}

.right-nav.campaigns img :focus{
  background-color: #2394ae;
}

.users :hover{  
  background-color: #2394ae;
}
.users  {
  filter: invert(10%) sepia(82%) saturate(6586%) hue-rotate(353deg) brightness(92%) contrast(88%);
}

/* .nav-campaign-tabs li  :focus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:#2394ae;
  padding: 5px;
  border-radius: 30px;  
} */

:root {
  --rightNav-height: 35vh;
  --aside-topBtn-height: 250px;
  --maintop-nav-height: 200px;
  --aside-width: 380px;
  --asideLeftOnly-width: 120px;
  --f-16: 16px;
  --f-20: 20px;
  --f-14: 14px;
  --f-28: 28px;
  --f-12: 12px;
  --f-36: 36px;
  --f-18: 18px;
  --f-40: 40px;
}
