@font-face {
  font-family: 'Grpahik Medium';
  src: url('./assets/fonts/Graphik/GraphikMedium.otf');
}
@font-face {
  font-family: 'Grpahik Regular';
  src: url('./assets/fonts/Graphik/GraphikRegular.otf');
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#root {
  max-width: 100%;
  width: 100%;
}
body{
  font-family: 'Grpahik Medium';
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2394ae !important;
}